@page "/ChroniquesOublies/home"
@inherits ChroniquesOubliesHomePage
<PageTitle>ChroniquesOublies</PageTitle>

<h1>ChroniquesOublies</h1>

ChroniquesOublies

@if (IsAuthenticated)
{
    <span>Mes persos</span>
}