@page "/ChroniquesOublies/home"
@inherits ChroniquesOubliesHomePage

@if (IsReady)
{
    <PageTitle>@Jeu.Nom</PageTitle>
    <h1>@Jeu.Nom</h1>
    <div>
    @Jeu.Description
</div>
    @if (IsAuthenticated)
    {
        <div>
            <MudButton Href="@(Routes.MesGamesChroniquesOublies)"
                       Variant="Variant.Filled"
                       Color="Color.Primary">
                Mes Parties
            </MudButton>
        </div>
    }

}
else
{
    <PageTitle>Chroniques Oublies</PageTitle>
    <CustomLoader />
}
