@page "/ChroniquesOublies/home"
@inherits ChroniquesOubliesHomePage

@if (IsReady)
{
    <PageTitle>@Jeu.Nom</PageTitle>
    <h1>@Jeu.Nom</h1>

    @Jeu.Description

    @if (IsAuthenticated)
    {
        <span>Mes persos</span>
    }

}
else
{
    <PageTitle>Chroniques Oublies</PageTitle>
    <CustomLoader />
}
