@page "/dnd/home"
@inherits DnDHomePage

@if (IsReady)
{
    <PageTitle>@Jeu.Nom</PageTitle>
    <h1>@Jeu.Nom</h1>

    @Jeu.Description

    @if (IsAuthenticated)
    {
        <span>Mes persos</span>
    }

}
else
{
    <PageTitle>DnD</PageTitle>
    <CustomLoader/>
}
