@page "/dnd/home"
@inherits DnDHomePage

@if (IsReady)
{
    <PageTitle>@Jeu.Nom</PageTitle>
    <div>
    <h1>@Jeu.Nom</h1>

    @Jeu.Description
    </div>
    @if (IsAuthenticated)
    {
        <div>
            <MudButton Href="@(Routes.MesGamesDnd)"
                       Variant="Variant.Filled"
                       Color="Color.Primary">
                Mes Parties
            </MudButton>
        </div>
    }
}
else
{
    <PageTitle>DnD</PageTitle>
    <CustomLoader/>
}
